/*.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
*/
.horizontal {
  display: flex;
}
.flex{
  display: flex;
  justify-content: space-between;
}

.size{
  border: 1px solid black;
  padding: 20px;
  margin: 10px;
}
.size:active{
  background-color: orange;
  border: 2px solid black;
}

.button{
  margin-top:5px;
}


