/*.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
*/

.navbar-default {
  background-color: hsl(227deg 67% 42%);
  color: white;
  display: flex;
  
}

.nav-link {
  color: black;
}

.nav-item.active .nav-link,
.nav-item:hover .nav-link {
  color:orange;
}

.div-background {
  padding-right: 50px;
  padding-left: 50px;
}

.div-heading {
  padding: 10% 50px 10% 50px;
}

.h1 {
  font-family:'Garamond', sans-serif;
}

.logo {
  height: 150px;
  width: 150px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  
}

html, body {
  width: 100%;
  height: 100%;
}

body > div {
  width: 100%;
  height: 90%;
}

body > div > div {
  width: 100%;
  margin-top: 10px;
  background: white;
  margin-bottom: 20px;
}


.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}


