/*body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
*/

body{
  font-family: 'Domine', serif;
  font-family: 'Old Standard TT', serif;
  font-family: 'Roboto Slab', serif;
  font-weight: 900;
  height:max-content;
  background: linear-gradient(to top,rgba(192,174,199,95), rgba(254,235,247,55), rgba(255,204,204,20));
  }