
  .backg {
    background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(11).jpg");
    height: 50vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }


  /* button{
      border-radius:50%;
      border: solid #666 1px;
  } */
  .col-12 {
    background-color: rgb(255, 255, 255);
 }
 .cardbody{
    background-color: rgb(255, 255, 255);
  }
/* .row{
    background-color: rgb(192, 76, 167);
    padding:0%;
} */
  .card-text{
      font-family: 'Lucida Sans';
      font-size: 20px;
      border:none;
      padding:0%;
  }
  .card{
      border:none;
      background:rgb(255, 255, 255);
  }