.swiper-container{
  width: 600px;
  height: 550px ;
  /* margin: 0 auto; */
  
}
.swiper-wrapper{
  padding-inline-end: 1;
  /* margin: 0 auto; */
}

.rectangle {  
  
  width: 414px;
  height: 548px;

  background: hsl(155, 36%, 91%);
  border-color: hsl(147, 39%, 38%);
  border: 3px groove;
}
.profile_image{
  position: relative;
  width: 388.87px;
  height: 299px;
  left: 10.5px;
  top: 10px;
  background: url(img/jc.jpg);
  background-size: cover;
  border-radius: 10px;
  border-color: green;
  border: 3px groove;
}
.detailcontainer{
  position: relative;
  width: 408px;
  height: 166px;
  top:33px;
  left: 0px;
  color: white;
  font-family: 'Work Sans', sans-serif;
  
  background-color: hsl(155, 45%, 49%);
}
.name_box{
  position:relative;
  width: 207px;
  height: 73px;
  left: auto;
  top: .5px;
  background: #6db7b9;
  
  }
.name_word{
  position: relative;
  width: 200px;
  height: 30px;

  font-family: Red Hat Text;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 19px;
  text-align: center;

  color: #FFFFFF;
}
.preference_box{
  position: relative;
  width: 200px;
  height: 73px;
  left: 207px;
  top: -72.5px;
  background: hsl(182, 62%, 80%);
}
.preference_word{
  position: relative;
  width: 132px;
  height: 30px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #FFFFFF;
}
.bio_box{
  position: relative;
  width: 408px;
  height: 163px;
  left: 0px;
  top: 10px;
  color:#234e3e;
  font-weight: normal;
  background: #a0f0d8;
}
.bio_words{
  position: relative;
  font-weight: bold;
  color: #6e6c6c;
}

.swiper-button-prev:after, 
.swiper-button-next:after {
  font-family: null;
  width: 306px;
  height: 105px;
  border-radius: 100px;
  position: relative;
  color: var(--swiper-navigation-color, #45de37);
  background: #45DE37;}


/* .swiper-slide swiper-slide-active {
  width: 600px; 
  margin-right: 0.5px;
  margin-left: 75px;
}  */


