@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

body, html {height: 100%}
.bgimg {
  background-image: url('../src/img/Welcomepagepic.jpg');
  min-height: 100%;
  background-position: center;
  background-size: cover;
}

.welcometitle{
    font-family: 'Anton', sans-serif;
    font-size: 50px;
    color: white;
    opacity: 0;
    margin-top: 25px;
    font-size: 21px;
    text-align: center;
    -webkit-transition: opacity 6s ease-in;
    -moz-transition: opacity 6s ease-in;
    -o-transition: opacity 6s ease-in;
    -ms-transition: opacity 6s ease-in;
    transition: opacity 6s ease-in;
    
  }
  .welcometitles{
    font-family: 'Anton', sans-serif;
    font-size: 35px;
    color: white;

  }

.button { 
    background-color: green !important;
    border: none !important;
    color: black !important;
    padding: 15px 32px !important;
    text-align: center !important;
    text-decoration: none !important;
    display: inline-block !important;
    font-size: 16px !important;
    margin: 4px 2px !important;
    cursor: pointer !important;
  }



