# WARNING
# THIS IS AN EXAMPLE FILE. DO NOT MOFIDY THIS FILE.
# READ INSTRUCTIONS CAREFULLY.
#
# We will use this file to store sensitive information
# that our application requires, such as:
#   - SECRETS/SESSION KEYS
#   - CREDENTIALS
#   - API KEYS
#   - CONFIGURATION INFO
#
# INSTRUCTIONS:
#   1. copy file `.env.example` into `.env`
#   2. modify/add any ENVIRONMENT VARIABLES
#   3. make sure `.env` is in `.gitignore`
#
# Add environment variables below in this format:
# KEY=VALUE
#
# Each ENVIRONMENT VARIABLE define will be available in
# `process.env.KEY` in your code

# PORT Number for API
PORT=8080

SESSION_SECRET='xcxkjebcekhcbecveycveyucveyui'
