
.nav-item-burger.active {
  right: 0;
  opacity: 1;
  transition: all 0.5s ease;
  z-index: 1;
  justify-content: flex-start;
  padding-right: 0px;
  background: linear-gradient(#071749, hsl(226, 70%, 59%));
  max-width: 200px;
}

.nav-item-burger.active .nav-link {
  color:white;
  -webkit-text-stroke: 0.5px hsl(199, 51%, 35%);
}

.nav-item-burger {
  display: flex;
  width: 200px;
  height: 350px;
  position: absolute;
  top: 60px;
  right: -100%;
  opacity: 0;
  transition: all 2s ease;
  flex-direction: column;
  list-style-type: none;
}

.option {
  display: flex;
  padding: 20px 0px;
}

.option:hover .nav-link:hover {
  color:hsl(182, 87%, 70%);
}

.menu-icon {
  width: 45px;
  height: 45px;
}

.menu-icon-close {
  display: none;
}

.menu {
  display: block;
}