* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.thread-starter-table {
  width: 800px;
  /* margin-top: 4px; */
  font-family: 'Garamond', sans-serif;
}
.thread-starter-table th {
  background-color: hsl(227deg 67% 42%);
  border: 1.2px solid rgb(162, 158, 158);
  text-align: left;
  color: white;
  padding-left: 5px;
  margin: 10px;
}

.thread-starter-table td {
  text-align: left;
  border: 1.1px solid rgb(162, 158, 158);
  padding-left: 5px;
  
}

.thread-starter-title {
  color: hsl(227deg 67% 42%);
}

.thread-starter-info {
  font-size: 0.7rem;
}

.starter-user {
  color: orange;
}

.h1 {
  padding: 5px;
  margin: 2px;
}

.delete-button {
  background-color: #2169c7;
  color: #ffce49;
  padding: 5px;
  margin-bottom: 15px;
  margin-right: 10px;
  float: right;
  border-radius: 10px;
}

.delete-button:hover {
  color: white;
  background-color: rgb(190, 3, 3);
}