* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.thread-create {
  background-color: rgb(91, 129, 187);
  border: 1.2px solid rgb(162, 158, 158);
  border-radius: 10px;
  text-align: left;
  color: rgb(0, 12, 17);
  padding-left: 5px;
  align-items: flex-end;
}

.thread-new {
  padding: 5px;
  margin: 30px;
  
}

.new-thread-button {
  color:hsl(227deg 67% 42%);
  font-size: 1rem;
  border: 1px solid hsl(227deg 67% 42%);
  margin: 20px 20px 0px 0px;
  padding: 6px 6px;
  position: relative;
  border-radius: 5px;
  background-color: rgba(245, 245, 245, 0.986);
  margin-left: 5px;
}

.new-thread-button:hover {
  background-color: #62e9f3da;
}
.title{
  font-family: 'Inter', sans-serif;
}