
.button-login {
    background-color:hsl(162, 67%, 42%);
    border-color: lightseagreen;
    border-radius: 10%;
    color: white;
    font-family:'Garamond', sans-serif;
    margin-right: 20px;
  
  }
  
  .button-signup {
    background-color: #f0850c;
    border-radius: 10%;
    color: white;
    font-family:'Garamond', sans-serif;
    margin-left: 20px;
  }
  .button-signup-only {
    background-color: #f0850c;
    border-radius: 10%;
    color: white;
    font-family:'Garamond', sans-serif;
  }
  
  
  .red {
    color: red;
  }
  
  .blue {
    color: blue;
  }
  .yellow {
    color: yellow;
  }
  .green {
    color: green;
  }
  