.comingSoonBanner {
    padding: 20%;
}

html,body {
	display: block;
	margin: auto;
	width: 100%;
	height: 100%;
	color: #fff;
    background: linear-gradient(-45deg, #FF944D, #EE7752, #E73C7E, #23A6D5, #23D5AB, #00B359);
	background-size: 400%, 400%;
	position: relative; 
	animation: animate 10s ease-in-out infinite; 
}


/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
	display: none;
}
  
/* Hide scrollbar for IE and Edge */
body {
	-ms-overflow-style: none;
}
  

@keyframes animate {

	0%{
		background-position: 0 50%;
	}

	50%{
		background-position: 100% 50%;
	}

	100%{
		background-position: 0 50%;
	}

}

.christmas {
	color: red;
}

