* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.thread-category-table {
  width: 1000px;
  margin-top: 50px;
  font-family: 'Garamond', sans-serif;
}
.thread-category-table th {
  background-color: hsl(162, 67%, 42%);
  border: 1.2px solid rgb(162, 158, 158);
  text-align: left;
  color: white;
  padding-left: 5px;
}

.thread-category-table td {
  text-align: left;
  border: 1.1px solid rgb(162, 158, 158);
  padding-left: 5px;
}

.thread-category {
  color: hsl(162, 67%, 42%);
  font-size: 1rem;
}

.thread-description {
  font-size: 0.7rem;
}

.new-thread-button {
  color: hsl(162, 69%, 36%);
  font-size: 1rem;
  border: 1px solid hsl(162, 67%, 42%);
  margin: 20px 0px 0px 0px;
  padding: 6px 6px;
  position: relative;
  border-radius: 5px;
  background-color: rgba(245, 245, 245, 0.986);
  margin-top: 100px;
  margin-left: -900px;
}

.new-thread-button:hover {
  background-color: rgba(17, 179, 52, 0.123);
}
