.APPbody, .APPhtml {
    font-family: 'Numans', sans-serif;
}

.logo{
width: 55px;
height: 55px; 
border-radius: 50%;
border: 2px solid #FFC312;
margin-right: 10px;
}

.profile{
width: 55px;
height: 55px; 
border-radius: 50%;
margin-left: 10px;
box-shadow: inset 0 0 10px #000000;
}

.profile:hover {
    cursor: pointer;
    transform: scale(1.2) rotate(30deg);
}

.homeLink{
font-size: larger;
position: relative;
top: 50%;  
width: 5em;
border-right: 2px solid rgba(255,255,255,.75);
overflow: hidden;
transform: translateY(-50%);    
}

/* Animation */
.anim_typewriter{
  animation: typewriter 1.5s steps(13) 1s 1 normal both,
             blinkTextCursor 500ms steps(13) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 8em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}

